@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Spectral+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #111111;
   
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    position: relative;
    bottom: 8%;
}

    .calculadora {
        width: 35%;
        height: 75%;
        background-color: #262626;
        color: #6C63FF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        font-size: 1.5rem;
        border-radius: 20px;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.63);
        flex-direction: column;
    }

.input1 {
    border: none;
    outline: none;
    width: 260px;
    height: 30px;
    border-radius: 10px;
    padding: 15px;
}

button{
    background-color: #6C63FF;
    color: #fffafa;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 20px;
    width: 35%;
    cursor: pointer;
    transition: .1s;
}

button:hover{
    background-color: #6b63ffe1;
    box-shadow: 0px 0 8px #6C63FF;
}

@media(min-width:100px) and (max-width:480px) {
    
    .calculadora {
        width: 280px;
        height: 90%;
        background-color: #262626;
        color: #6C63FF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        font-size: 1.5rem;
        border-radius: 20px;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.63);
        flex-direction: column;
    }
    img{
        display: none;
    }
    }